<div class="container">
<h1><%= @task.title %></h1>
<div class="details-box"><%= @task.details %></div>
<input type="checkbox">
<br>
<%= link_to 'All Tasks', tasks_path %>

<%# html data-controller="turbo-method" %>

</div>
